.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.table-dark tr td:nth-child(4),
.table-dark tr th:nth-child(4) {
  text-align: right;
}

.error-message{
  background: antiquewhite;
  padding: 1em;
  margin-top: 8px;
  color: brown;
  border-radius: 8px;
}

.form-control{
  margin-bottom: 10px;
}

.form select{
  height: 38px;
    padding: .5em;
    border: 1px solid rgba(34,36,38,.15);
    background: #fff;
    border-radius: .28571429rem;
    box-shadow: 0 0 0 0 transparent inset;
    cursor: pointer;
    width: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
